@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}
.barra-superior{
    position: fixed;
    width: 375px;
    height: 80px;
    top: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.conversas{
    margin-top: 84px;
    background-color: #f3f3f3;
    margin-bottom: 84px;
    display: flex;
    flex-wrap: wrap;
    width: 375px;
}

.barra-inferior{
    position: fixed;
    width: 375px;
    height: 80px;
    bottom: 0;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.logo{
    margin-top: 16px;
    margin-left: 22px;
}
.contatos{
    margin-bottom: 8px;
    margin-left: 213px;
    width: 40px;
    height: 40px;
}
.enviar{
    width: 28px;
    height: 28px;
    margin-top: 27px;
    margin-left: 82px;
}
.caixa-texto{
    display: flex;
    width: 375px;
}
::placeholder{
    font-style: italic;
}
.texto-enviado{
    border: 0 none;
    margin-left: 17px;
    margin-top: 25px;
    font-weight: 400;
    height: 30px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: black;
}
.entrada-saida{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px; 
    display: flex;
    align-items: center;
    width: 375px;
    background-color: #dcdcdc;
    height: auto;
    margin-bottom: 4px;
}
.mensagem-todos{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px; 
    display: flex;
    align-items: center;
    width: 375px;
    background-color: #ffffff;
    height: auto;
    margin-bottom: 4px;
}
.mensagem-reservada{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px; 
    display: flex;
    align-items: center;
    width: 375px;
    background-color: #ffdede;
    height: auto;
    margin-bottom: 4px;
}
.horario{
    color: #aaaaaa;
}
.usuario{
    font-weight: 700;
}